<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wazxb.xuerongbao">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CHANGEWIFISTATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.wazxb.xuerongbao.ZXBApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="zxb.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="23298770" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="d72ccd909d4764500c3deb66fdd0a5eb" />


        <activity
            android:name="com.wazxb.xuerongbao.MainTabActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wazxb.xuerongbao.moudles.account.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.account.RegitsterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.account.FindPasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.account.ChangePasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.wazxb.xuerongbao.moudles.LogoActivity" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.credit.CreditBaseActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.credit.CreditActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.credit.CreditFamilyActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.credit.CreditContactActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.credit.CreditOtherActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.personal.PersonalInfoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.wazxb.xuerongbao.moudles.gesturepass.GesturePasswordActivity" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.borrow.BorrowActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.wazxb.xuerongbao.moudles.more.AboutActivity" />
        <activity android:name="com.wazxb.xuerongbao.moudles.calculate.CaculateActivity" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.borrow.BorrowApplyActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.borrow.BorrowSuccActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.wazxb.xuerongbao.moudles.payback.PaybackActivity" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.personal.BindCradActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.wazxb.xuerongbao.moudles.payback.PaybackDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.wazxb.xuerongbao.moudles.evaluate.EvaluateActivity" />
        <activity android:name="com.wazxb.xuerongbao.moudles.coin.CoinGiftActivity" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.coin.CoinAddressActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wazxb.xuerongbao.moudles.evaluate.EvaluateSubmitActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.wazxb.xuerongbao.moudles.message.MessageListActivity" />
        <activity android:name="com.wazxb.xuerongbao.moudles.personal.BindCardShowActivity" />
        <activity android:name="com.wazxb.xuerongbao.moudles.more.FeedbackActivity" />
        <activity android:name="com.wazxb.xuerongbao.moudles.more.ContractActivity" />
        <activity android:name="com.wazxb.xuerongbao.common.portrait.EditPortraitActivity" />
        <activity android:name="com.wazxb.xuerongbao.common.webview.CommonWebActivity" />
        <activity android:name="com.wazxb.xuerongbao.moudles.history.HistoryActivity" />
        <activity android:name="com.wazxb.xuerongbao.moudles.red.RedActivity" />
        <activity android:name="com.wazxb.xuerongbao.moudles.coin.CoinActivity" />
        <activity android:name="com.wazxb.xuerongbao.moudles.gesturepass.GestureActivity" />
        <activity android:name="com.wazxb.xuerongbao.moudles.message.MessageItemActivity" />
        <activity android:name="com.wazxb.xuerongbao.moudles.common.SchoolSelActivity" />
        <!-- 读联系人权限 -->

        <activity
            android:name="com.wazxb.xuerongbao.moudles.update.UpdateDialog"
            android:theme="@android:style/Theme.Translucent" />

        <activity android:name="com.wazxb.xuerongbao.moudles.account.InitActivity" />

        <service android:name="com.wazxb.xuerongbao.moudles.update.UpdateService" />


        <!--分享-->


        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent1105256096" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>
