<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wazxb.zhuxuebao">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CHANGEWIFISTATE" />

    <application
        android:name=".ZXBApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="zxb.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="23298770" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="d72ccd909d4764500c3deb66fdd0a5eb" />


        <activity
            android:name=".MainTabActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".moudles.account.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".moudles.account.RegitsterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".moudles.account.FindPasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".moudles.account.ChangePasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".moudles.LogoActivity" />
        <activity
            android:name=".moudles.credit.CreditBaseActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".moudles.credit.CreditActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".moudles.credit.CreditFamilyActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".moudles.credit.CreditContactActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".moudles.credit.CreditOtherActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".moudles.personal.PersonalInfoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".moudles.gesturepass.GesturePassrwordActivity" />
        <activity
            android:name=".moudles.borrow.BorrowActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".moudles.more.AboutActivity" />
        <activity android:name=".moudles.calculate.CaculateActivity" />
        <activity
            android:name=".moudles.borrow.BorrowApplyActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".moudles.borrow.BorrowSuccActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".moudles.payback.PaybackActivity" />
        <activity
            android:name=".moudles.personal.BindCradActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".moudles.payback.PaybackDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".moudles.evaluate.EvaluateActivity" />
        <activity android:name=".moudles.coin.CoinGiftActivity" />
        <activity
            android:name=".moudles.coin.CoinAddressActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".moudles.evaluate.EvaluateSubmitActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".moudles.message.MessageListActivity" />
        <activity android:name=".moudles.personal.BindCardShowActivity" />
        <activity android:name=".moudles.more.FeedbackActivity" />
        <activity android:name=".moudles.more.ContractActivity" />
    </application>

</manifest>
